<div class="dialog-container">
    <img loading="lazy" src="./assets/template/welcome/bubble-frame.png" alt="Welcome Speech Bobble"/>
    <div class="console">
        <p class="hello" i18n="dialog@@hello">Welcome.</p>
        <span
            class="txt-rotate"
            appTypingAnimation
            [phrasePeriod]="2000"
            [startDelay]="1500"
            [typeSpeed]="200"
            [data]='[
                {
                    "language": "gr",
                    "phrases": [ "" ]
                },
                {
                    "language": "en",
                    "phrases": [ "" ]
                }
            ]'></span>
    </div>
</div>
